.nav {
    width: 800px;
    height: 100px;
    background-color: #54b3d6;
    text-decoration: none;
    color: white;
    display: inline-flex;

}

.links {
    width: 400px;
    height: 100px;
    display: inline-flex;
}

.header {
    width: 400px;
    height: 100px;
    display: inline-flex;
    padding: 13px 0 0 13px;
/*    transition-duration: 500ms;*/
/*    transform: translate(-220px);*/
/*}*/
/*.header:hover {*/
/*    transition-duration: 500ms;*/
/*    transform: translate(0px);*/
}

.link {
    margin: auto;
    color: #5b4b72;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: #b680a6;
}

.active{
    color: #1f306e;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
}